.reserva-page {
  --background: #e6f6f3;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #016a5b;
}

.subtitle {
  font-size: 14px;
  color: #45534f;
  margin-bottom: 16px;
}

.form-card {
  padding: 20px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

ion-item {
  margin-top: 12px;
  --background: transparent;
  --highlight-color-focused: #01907e;
}

ion-label {
  color: #45534f !important;
  font-weight: 500;
}

.btn-reservar {
  margin-top: 25px;
  height: 50px;
  --background: #01907e;
  --background-hover: #017060;
  --border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}
