<ion-app mode="ios">
  <ion-menu menuId="main-menu" content-id="main">

    <ion-header>
      <div class="header-background"></div>

      <div class="header-icon">
        <ion-img src="assets/iconuts.png"></ion-img>
      </div>
    </ion-header>

    <ion-content>
      <ion-list lines="none" class="lista">

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="apartar">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Apartar Aula</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Mis Reservas</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Mi Perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="">
            <ion-icon name="help-circle-outline"></ion-icon>
            <ion-label>Soporte</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="login">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-footer>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
