<ion-content class="register-page ion-padding" mode="ios">

  <div class="card-wrapper">
    <ion-card class="register-card">
      
      <ion-img class="banner-img" src="assets/register-banner.png"></ion-img>

      <ion-card-title>Registro</ion-card-title>
      <ion-card-subtitle>Ingresa los siguientes datos</ion-card-subtitle>

      <ion-card-content>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Nombre Completo" type="text"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Matrícula" type="text"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Correo electrónico" type="email"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Contraseña" type="password"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input placeholder="Repetir contraseña" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" class="register-btn">
          Continuar
        </ion-button>

        <a routerLink="/login" class="return-link">Volver</a>

      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
